fastapi
uvicorn
python-dotenv
python-multipart
pydantic
SQLAlchemy

google-generativeai
google-genai
openai

dateparser
icalendar

pillow
pdfplumber
PyMuPDF
pytesseract

faster-whisper
av
ctranslate2
onnxruntime